.main {
  margin: 0px;
  background-color: #EEEEEE;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.card__tag {
  padding: 5px;
  min-width: 100px;
  width: 100px;
  height: 20px;
  text-align: center;
  margin: 10px;
  align-self: center;
  color: white;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin: 0px 10px;
}

.card__description__title {
  font-weight: bold;
  margin-bottom: 8px;
}

.card__date {
  align-self: center;
  min-width: 70px;
}

.dark_blue {
  background-color: #5A6378;
}

.light_blue {
  background-color: #60B5CC
}

.yellow {
  background-color: #F0AD00
}

.green {
  background-color: #7FD13B
}