h1 {
  font-size: 2em;
  font-weight: normal;
}


a {
  cursor: pointer;
  text-decoration: none;
}

.not__found {
   text-align: center;
   font-size: 3em;
   padding: 20px;
}

.internal__link {
  color: #5A6378;
  font-weight: bold;
}

.internal__link:visited {
  color: #5A6378;
}

.page {
  margin: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  background-color: #DDDDDD;
}

.header {
  color: #FFFFFF;
  padding: 15px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14);
  background-color: #5A6378;
  display: flex;
  align-items: center;
}

.header__logo, .header__controls {
  flex: 1 0 300px;
}

.header__title {
  margin: 0px;
}

.header__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__control {
  /*color: #FFFFFF;*/
  cursor: pointer;
  padding-left: 20px;
}

.header__control:hover {
  opacity: 0.7;
}

.header__icon {
  height: 45px;
}

.header__newsletters {
  text-align: center;
  font-weight: bold;
}

.logo {
  cursor: pointer;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.home__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.spinner {
  border: 16px solid #FFFFFF;
  border-top: 16px solid #5A6378;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.cards {
  width: 100%
}

.cards_max {
  width: 850px
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.card__link {
  color: #000000;
}

.tag__link {
  color: #FFFFFF;
}

.tag {
  padding: 5px;
  width: 120px;
  min-width: 120px;
  height: 20px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14);
  color: #FFFFFF;
  text-shadow: 0 1px 0 #777777;
}

.tag_disabled {
  cursor: default;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin: 0px 10px;
}

.card__description__header {
  margin-bottom: 8px;
}

.card__description__title {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  pointer-events: auto;
  padding-right: 7px;
}

.card__description__title:visited {
  color: #888888;
}

.card__description__domain {
  color: #888888;
  font-size: 0.8em;
  display: inline-block;
}

.card__date {
  align-self: center;
  min-width: 110px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 50px;
  text-align: center;
  box-shadow: 0 -4px 4px 0 rgba(0,0,0,0.14);
  background-color: #5A6378;
  padding: 10px;
}

.footer__description {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}

.error {
  position: fixed;
  right: 12px;
  color: #FFFFFF;
  width: 400px;
  padding: 15px;
  -webkit-filter: drop-shadow(0 8.4px 8.4px rgba(0, 0, 0, 0.25)) drop-shadow(0 6px 3px rgba(0, 0, 0, 0.22));
  filter: drop-shadow(0 8.4px 8.4px rgba(0, 0, 0, 0.25)) drop-shadow(0 6px 3px rgba(0, 0, 0, 0.22));
  background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px
}

.error__text {
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.error__img {
  height: 30px;
  padding-right: 15px
}

.close {
  font: 18px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #777777;
  align-self: flex-start;
  cursor: pointer;
  padding-left: 10px;
}

.newsletter__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newsletter__body_min {
  display: flex;
  flex-direction: column;
}

.newsletter__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newsletters__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.newsletters__col {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.newsletters__description {
  padding-bottom: 15px;
}

.newsletters__file {
  font-size: 1.15em;
  padding-top: 10px;
}

.newsletters__spinner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newsletter__header {
  text-align: center;
  padding: 0px 45px;
}

.newsletter__articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__nav, .newsletter__nav_min {
  color: #5A6378;
  cursor: pointer;
}

.newsletter__nav {
  margin-top: 250px;
}

.newsletter__nav:hover, .newsletter__nav_min:hover {
  background-color: #CCCCCC;
}

.newsletter__nav_disabled {
  visibility: hidden;
  cursor: default;
}


/* Color */

.elm_dark_blue {
  background-color: #5A6378;
}

.elm_light_blue {
  background-color: #60B5CC
}

.elm_yellow {
  background-color: #F0AD00
}

.elm_green {
  background-color: #7FD13B
}

.elm_grey {
  background-color: #888888;
}

/* Responsive */

@media all and (max-width: 900px) {
  .header__description {
    display: none;
  }
}

@media all and (max-width: 600px) {
  .tag {
    display: none;
  }
  .card {
    display: block;
    padding-bottom: 30px;
  }
  .card__description{
    display: block;
  }
  .card__author {
    float: left;
  }
  .card__date {
    float: right;
    min-width: auto;
    padding-right: 10px;
  }
}