.main {
  margin: 0px;
}

.header {
  color: #FFFFFF;
  padding: 10px 25px 15px 25px;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14);
}

.header--open {
  transition: top 1.0s ease-in-out;
}

.header--hidden {
  top: -70px;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
}

.logo_elm {
  font-size: 1.6em;
}

.logo_news {
  font-size: 1.1em;
  line-height: 9px;
  padding-left: 1px;
}

.body {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.tag {
  padding: 5px;
  min-width: 100px;
  width: 100px;
  height: 20px;
  text-align: center;
  margin: 10px;
  align-self: center;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14);
}

.tag__link {
  text-decoration: none;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin: 0px 10px;
}

.card__description__header {
  margin-bottom: 8px;
}

.card__description__title {
  font-weight: bold;
  text-decoration: none;
}

.card__description__domain {
  color: #888888;
  padding-left: 7px;
  font-size: 0.8em;
}

.card__date {
  align-self: center;
  min-width: 70px;
}

.white_text {
  color: #FFFFFF;
}

.black_text {
  color: #000000;
}

.elm_dark_blue {
  background-color: #5A6378;
}

.elm_light_blue {
  background-color: #60B5CC
}

.elm_yellow {
  background-color: #F0AD00
}

.elm_green {
  background-color: #7FD13B
}

.reddit_blue {
  background-color: #CEE3F8
}

.grey {
  background-color: #DDDDDD
}